body {
    font-family: Alef;
    color: #373737;
    font-weight: bold;
}

textarea {
    resize: none;
    font-family: Alef;
    width: 300px;
}


icon {
    color: #3ed510;
}

fieldset {
    width: 30%;
    background-color: #f4f4f4;
}

button {
    background-color: #3ed510;
}