body {
    font-family: Alef;
    color: #373737;
    font-weight: bold;
}

textarea {
    resize: none;
    font-family: Alef;
    width: 300px;
    outline-color: #3ed510;
    background-color: rgba(244, 244, 244, 0.67);
}


icon {
    color: #3ed510;
}

fieldset {
    width: 30%;
    background-color: #f4f4f4;
}

button {
    background-color: #3ed510;
}

input {
    border: 1;
    border-color: transparent;
    border-bottom-color: #3ed510;
    outline-color: rgba(62, 213, 16, 0.4);
    background-color: transparent;
}

p {
    font-size: 13px;
}

div {
    margin-bottom: 7px;
}

div.contact {
    width: 100%;
    align-content: center;
}
